/Images_line_test/w/
/Images_line_test/s/
/Images_line_test/a/
/Images_line_test/d/
/Images_raw/w/
/Images_raw/s/
/Images_raw/a/
/Images_raw/d/
/Images_processed/w/
/Images_processed/s/
/Images_processed/a/
/Images_processed/d/